body {
	margin: 0px auto;
	font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    line-height: 1.7;
}

#menu1 {
	display: flex;
	text-decoration: none;
	justify-content: space-between;
	background-color: #024282;
}

a {
	color: black;
	text-decoration: none;
}

#menu1 div {
	width: 100%;
	margin: auto;
	text-align: center;
}

.nav1 {
	font-size: 13px;
}

#nav2 {
	padding-top: 15px;
}

.nav2 {
	color: black;
	font-size: 20px;
}

.nav2 i {
	color: #35699b;
}

.nav2:hover {
	color:#9ACD32;
}



#menu2 {
	display: flex;
	height: 100px;
	padding-top: 20px;
}

.menu-main {
	background-color: rgba(2, 66, 130, 0.95);
}

.menu-main a {
	color: #fff;
	font-size: 14px;
	background-color: rgba(2, 66, 130, 0.95) !important;
}

.menu-main a:hover {
	color: #fdb913;
}

.menu-main h5 {
	font-size: 18px;
}

.menu-main.menu-icon a {
	background-color: #fff !important;
	color: black;
}

footer .copyright {
    background-color: #fff;
	color: #2e313a;
}
.container {
    position: relative;
    margin-left: auto;
	margin-right: auto;
	width: auto !important;
    max-width: 1200px;
}
footer {
	margin-top: 30px;
}
.mau li a{
	color: #a1a1a1;
}
#mau1 {
	color: white;
}
.mau .btn {
    width: 100%;
    color: #fff;
    background-color: #42719f;
    text-align: left;
}
.mau{
	padding-right: 30px;
}
.mau li {
    margin-bottom: 5px;
}
ul {
	list-style: none;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid green;
    z-index: 3;
    position: relative;
}

#triangle-button {
	z-index: 4;
	position: absolute;
	top: -300%;
	left: -2%;
}

.dropdown span{
	width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid white;
    z-index: 5;
    position: relative;
}

.dropdown span .fa {
	position: absolute;
	top: -50px;
	left: -12px;
}

.dropdown {  
  position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    /* left: 50%; */
    z-index: 2;
    margin-top: 0px;
}

.btn-responsive {
	display: none;
}


@media only screen and (max-width: 1200px){
    .nav2{
    	display: none !important;
    }

	.dropdown {
		display: flex;
    	justify-content: flex-end;
	}

    #triangle-down{
    	display: none;
    	
    }

	.btn-responsive{
		display: flex;
	}

    .desktop-triangle{
    	display: block;
    	position: unset;
    }
}

.col-3 h3{
	font-size: 14px;
}

.head{
	border-bottom: 10px solid #dad4c2;
	background-color: #efece8;
	padding-top: 20px;
	padding-left: 20px;
}

.body{
	padding: 20px;
	background-color: #efece8;
}

.body li{
	list-style-type: disc;
	font-weight: 600;
	padding-top: 10px;
}

.body img{
	height: 125px;
}

.img img{
	height: 230px;
}

article {
	font-size: 16px;
	background-color: #efece8;
	padding: 20px;			
}

.main{
	display: flex;
}

.main img{
	height: 96px;
	margin-right: 20px;
}

.main h5>a{
	color: #024282;
}

@media only screen and (max-width: 1290px){ 
	.body img, .img img { 
		max-width: 100%; 
		height: auto 
	}

	#main .row{
		width: 100%;
		margin: 0px auto;
	}
}

#main .row{
	width: 90%;
	margin: 0px auto;
}